<div class="admin-page">
    <div class="admin-log">
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    </div>
    <div class="admin-head">
        <p-menubar>
            <button class="admin-head_btn" pButton label="Admin"></button>
        </p-menubar>
    </div> 
    <div class="admin-main">
        <div class="user-list">
            <p-listbox [options]="users" optionLabel="name" [style]="{'height': '110%','width':'100%','border-style':'none'}" >
                <ng-template let-user pTemplate="item">
                    <div class="user-item">
                        <div class="username">{{user.name}}</div>
                        <p-button class="delete-user_btn" (click)="confirm()" icon="pi pi-trash"></p-button>
                    </div>
                </ng-template>
            </p-listbox>
        <button class="add-user_btn" pButton label="Add User Button" icon="pi pi-plus"></button>
        </div>
        <div class="user-detail">
            <h2>User Detailed Information</h2>
            <div class="user-name">
                <div class="user-detail_label">Username :</div>
                <span>test</span>
            </div>
            <p-divider></p-divider>
            <div class="user-password">
                <div class="user-detail_label">Password :</div>
                <span>test</span>
            </div>
            <p-divider></p-divider>
            <div class="user-email">
                <div class="user-detail_label">UserEmail :</div>
                <span>test</span>
            </div>
            <p-divider></p-divider>
            <div class="user-gender">
                <div class="user-detail_label">Gender :</div>
                <span>test</span>
            </div>
            <p-divider></p-divider>
            <div class="user-age">
                <div class="user-detail_label">Age :</div>
                <span>test</span>
            </div>
            <p-divider></p-divider>
        </div>
    </div>
</div>






