.add-user_btn
    margin-bottom: 0 

.country-item
    // background-color: lightblue
    width: 100%
    vertical-align: middle
    p-button
        float: right

div
    .text
        // background-color: lightgray
        display: inline-block
        width: 205px

.grid
    margin-bottom: 10px
    height: 700px
    display: grid
    grid-template-columns: 30% 70%

.detail
    margin-left: 40px
    margin-right: 40px