<header class="main-container">
  <div class="root-container">
    <div class="antra-logo">
      <!-- <img src="./src/assets/antra.png" alt="antrashare-logo" /> -->
    </div>

    <form class="example-form" [formGroup]="reactiveLoginForm">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          (keyup)="OntypeUserName($event)"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input
          matInput
          type="password"
          (keyup)="OntypePassword($event)"
          placeholder="password"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{ showPassword ? "visibility_off" : "visibility" }}
        </mat-icon>
      </mat-form-field>
      <div *ngIf="error" class="message-container-error">
        <span class="input-error">{{error}}</span>
      </div>
    </form>

    <div class="example-button-row">
      <button
        mat-button
        class="login-btn"
        color="accent"
        (click)="loginClickHandler()"
        [disabled]="reactiveLoginForm.invalid"
      >
        Login
      </button>
    </div>

    <div class="register">
      <a (click)="signUp()" mat-button>No Accounts? Register Now!</a>
    </div>

    <div class=".need-help-link">
      <!-- <p>
        <mat-checkbox>Agreement</mat-checkbox>
      </p> -->
      <a mat-button (click)="needHelp()">Need Help?</a>
    </div>
  </div>
  <div class="need-help" *ngIf="isChatBox === true">
    <div class="chat-box-header">
      <h3>
        chat with us
        <span>
          <button mat-button (click)="onChatButtonClick()">—</button>
        </span>
      </h3>
    </div>
    <div class="chat-box-body">
      <textarea
        name=""
        id=""
        cols="53"
        rows="33"
        placeholder="type your message...."
      ></textarea>
    </div>
    <div class="chat-box-footer">
      <button mat-button>send message</button>
    </div>
  </div>
</header>
