<header class="main-container">
  <div class="root-container">
    <div class="antra-logo">
      <!-- <img src="./src/assets/antra.png" alt="antrashare-logo" /> -->
    </div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input matInput value="" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="password" />
      </mat-form-field>
    </form>
    <div class="example-button-row">
      <button mat-button class="login-btn" color="accent" (click)="loginClickHandler()">Login</button>
    </div>

    <div class="register">
      <a (click)="signUp()" mat-button>No Accounts? Register Now!</a>
    </div>

    <div class="agreement">
      <p>
        <mat-checkbox>Agreement</mat-checkbox>
      </p>
      <a mat-button routerLink="/register">Need Help?</a>
    </div>
  </div>
</header>

