<header class="main-container">
  <div class="root-container">
    <div class="antra-logo">
      <!-- <img src="./src/assets/antra.png" alt="antrashare-logo" /> -->
    </div>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input
          matInput
          type="text"
          (keyup)="OntypeUserName($event)"
          (change)="pushToArray($event)"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="password" />
        <mat-icon matSuffix>visibility</mat-icon>
      </mat-form-field>
    </form>

    <div class="example-button-row">
      <button
        mat-button
        class="login-btn"
        color="accent"
        (click)="loginClickHandler()"
      >
        Login
      </button>
    </div>

    <div class="register">
      <a (click)="signUp()" mat-button>No Accounts? Register Now!</a>
    </div>

    <div class="agreement">
      <p>
        <mat-checkbox>Agreement</mat-checkbox>
      </p>
      <a mat-button (click)="needHelp()">Need Help?</a>
    </div>
  </div>
  <div class="need-help" *ngIf="isChatBox === true">
    <div class="chat-box-header">
      <h3>
        chat with us
        <span>
          <button mat-button (click)="onChatButtonClick()">—</button>
        </span>
      </h3>
    </div>
    <div class="chat-box-body">
      <textarea
        name=""
        id=""
        cols="53"
        rows="33"
        placeholder="type your message...."
      ></textarea>
    </div>
    <div class="chat-box-footer">
      <button mat-button>send message</button>
    </div>
  </div>
</header>
