<!-- <br>
<br>
<div>Parent-child relationship </div>
<div>@Input @Output decorators</div>

<br>
<br>
<div>pass data among the project</div>
<div>service - dependancy injection design pattern</div>

<div>Input String from parent</div>
<br>
<div>{{inputString}}</div> -->
<!-- <br>
<br>
<h3>Child</h3>
<button (click)="emitValue(bill.value)">click me to emit</button>
<input #bill> -->

<!-- <div>browser cache, localStorage, sessionStorage and cookie</div>// not suggested -->

<!-- <div>NGrx</div> -->
<div>this is the story List</div>
<button (click)="goToNextStory()">Next Story!</button>

<button (click)="goToAdmin()"></button>