<div class="login-form">
    <div class="antrashare-logo">
        <img src="../../../assets/antra_logo.png" id="antrashare-logo" alt="login-image">
        <h3>AntraShare</h3>
    </div>

    <div class="login-credential">
        <label for="user-email" id="user-email">User Email</label><br>
        <input type="email" matInput placeholder="Ex. pat@example.com">
        <input type="password" placeholder="Password">
        <button id="login-btn">Login</button>
    </div>

    <div class="new-user">
        <button class="profile" routerLink=".">No Accounts? Register Now!</button>
    </div>

    <div class="agreement-help">
        <mat-checkbox id="agreement" name="vehicle1" value="agreement">
            Agreement
        </mat-checkbox>

        <div class="need-help">
            <button class="help" routerLink=".">Need Help?</button>
        </div>
    </div>
</div>