<p>login works!</p>


    <div id="login_frame">
        <p id="image_logo"><img src="../../../assets/images/AntraLogo.jpg" alt="AntraLogo"></p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <span class="p-float-label">
                <input id="username_input" class="text_field" type="text" formControlName="username" pInputText> 
                <label for="username_input">Username</label>
            </span>

            <span class="p-float-label">
                <input id="pwd_input" class="text_field" type="text" formControlName="password" pInputText> 
                <label for="pwd-input">Password</label>
            </span>
            
            
            <div id="login_control">
                <button id="btn_login" pButton type="submit" label="Login" ></button>
                <a id="register" (click)="goToRegister()">No accounts? Register Now!</a>

                <div id="check_and_help">
                    <div id="checkbox">
                        <input type="checkbox" id="agreement" >
                        <label for="agreement">Agreement</label>
                    </div>

                    <div id="help">
                        <a id="need_help" href="">Need Help?</a>
                    </div>
                </div>
            </div>

            
        </form>
    </div>



