<app-likelist></app-likelist>
<div class="profile">
    <form>
        <mat-card class="infoContainer">
            <mat-card-header>
                <img mat-card-avatar class="avatar" src="" alt="Avatar">
            </mat-card-header>

            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput class="short-box" [formControl]="nameControl" (keyup)="onChangeNameFormControl()">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput class="short-box" [formControl]="emailControl" [readonly]="true">
            </mat-form-field>
        </mat-card>

        <mat-form-field class="long-box">
            <mat-select [formControl]="genderControl" (keyup)="onChangeGenderFormControl()">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Other">Other</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="long-box">
            <mat-label>Age</mat-label>
            <input matInput [formControl]="ageControl" (keyup)="onChangeAgeFormControl()">
        </mat-form-field>

        <mat-form-field class="long-box">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailControl" [readonly]="true">
        </mat-form-field>

        <mat-form-field class="long-box">
            <mat-label>Phone</mat-label>
            <input matInput [formControl]="phoneControl" (keyup)="onChangePhoneFormControl()">
        </mat-form-field>
    </form>

    <div class="postAmount">
        <div class="post">
            <mat-icon [matBadge]="amountValue">post_add</mat-icon>
        </div>

        <div class="like">
            <mat-icon [matBadge]="likeValue">favorite</mat-icon>
        </div>
    </div>

    <div>
        <button mat-raised-button color="primary" (click)="onSaveClick()">Save</button>
    </div>
</div>

<app-nav-bar></app-nav-bar>