<!--<mat-accordion>-->
<!--    <mat-expansion-panel class="like-list" [(expanded)]="isExpanded">-->
<!--        <mat-expansion-panel-header>-->
<!--            <mat-panel-title>-->
<!--                Like List-->
<!--            </mat-panel-title>-->
<!--        </mat-expansion-panel-header>-->
<!--        &lt;!&ndash; <p>First Like</p>-->
<!--        <p>Second Like</p> &ndash;&gt;-->
<!--    </mat-expansion-panel>-->
<!--</mat-accordion>-->

<!--<nav>-->
<!--  <ul>-->
<!--    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="openMenu()">-->
<!--      <mat-icon>favorite</mat-icon>-->
<!--    </button>-->
<!--  </ul>-->
<!--</nav>-->
<!--<mat-menu #menu="matMenu">-->
<!--  <div *ngFor="let like of likeList.reverse()">-->
<!--    <button mat-menu-item>{{like | displayChar}}</button>-->
<!--  </div>-->

<!--</mat-menu>-->



<div class="profile">
    <form>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar class="avatar" src="" alt="Avatar">
            </mat-card-header>

            <mat-form-field>
                <input matInput class="short-box" placeholder="Name" name="name">
            </mat-form-field>

            <mat-form-field>
                <input matInput class="short-box" placeholder="Email" name="email">
            </mat-form-field>
        </mat-card>

        <mat-form-field class="long-box">
            <mat-select placeholder="Gender" name="gender">
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
                <mat-option value="other">Other</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="long-box">
            <input matInput placeholder="Age" name="age">
        </mat-form-field>

        <mat-form-field class="long-box">
            <input matInput placeholder="Email" name="email">
        </mat-form-field>

        <mat-form-field class="long-box">
            <input matInput placeholder="Phone" name="phone">
        </mat-form-field>
    </form>

    <div class="postAmount">
        <div class="post">
            <mat-icon matBadge="15" matBadgeColor="primary">post_add</mat-icon>
        </div>

        <div class="like">
            <mat-icon matBadge="10" matBadgeColor="primary">favorite</mat-icon>
        </div>
    </div>

    <button mat-raised-button color="primary">Save</button>
</div>

<app-nav-bar></app-nav-bar>
