<mat-expansion-panel class="like-list">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Like List
        </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- <p>First Like</p>
        <p>Second Like</p> -->
</mat-expansion-panel>

<div class="profile">
    <div class="avatar-username-email">
        <div class="avatar">
            <mat-card class="avatar-image">
                <img mat-card-image src="#" alt="Avatar">
            </mat-card>
        </div>

        <input type="text" id="username" class="short-box" placeholder="User Name">
        <mat-card id="email" class="short-box">
            <mat-card-content>Email</mat-card-content>
        </mat-card>
    </div>

    <input type="password" id="password" class="long-box" placeholder="Password" autocomplete="new-password">
    <select id="gender" class="long-box">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <input type="number" id="age" class="long-box" placeholder="Age">
    <mat-card id="email" class="long-box">
        <mat-card-content>Email</mat-card-content>
    </mat-card>
    <input type="number" id="phone" class="long-box" placeholder="Phone">

    <div class="postAmount">
        <div class="post">
            <mat-icon>post_add</mat-icon>
            <p>Amount of Posts</p>
        </div>

        <div class="like">
            <mat-icon>favorite</mat-icon>
            <p>Amount of Likes</p>
        </div>
    </div>
</div>