<div class="story-box">
    <p-card>
        <ng-template pTemplate="header">
            <!-- <p>Story</p> -->
            <h2 *ngIf="publisherName">{{publisherName}}</h2>
            <h3 *ngIf="publishedTime">{{publishedTime}}</h3>
        </ng-template>
        <!-- <p>Good Story, wow! haha</p> -->
        <div *ngIf="content">
            <article>
                {{content.text}}
            </article>
            <div class="img-video-box">
                <img *ngIf="content.hasOwnProperty('image')" class="story-img" [src]="content.image" [alt]="content.image">
                <video *ngIf="content" [src]="content.video" loop>
                    Your browser does not support the video tag.
                </video> 
            </div>
        </div>
        
        

    </p-card>
    <button pButton icon="pi pi-thumbs-up" class="p-button-outlined p-button-rounded story-like"></button>
</div>
