<div class="story-box">
    <p-card (click)="goToStoryDetail()">
        <ng-template pTemplate="header">
            <!-- <p>Story</p> -->
            <h2 *ngIf="story.publisherName">{{story.publisherName}}</h2>
            <h3 *ngIf="story.publishedTime">{{story.publishedTime}}</h3>
        </ng-template>
        <!-- <p>Good Story, wow! haha</p> -->
        <div *ngIf="story.content">
            <article>
                {{story.content.text}}
            </article>
            <div class="img-video-box">
                <img *ngIf="story.content.hasOwnProperty('image')" class="story-img" [src]="story.content.image" [alt]="story.content.image">
                <video *ngIf="story.content" [src]="story.content.video" loop>
                    Your browser does not support the video tag.
                </video> 
            </div>
        </div>
    </p-card>
    <button *ngIf="!isLiked" pButton (click)="thumbsUp()" icon="pi pi-thumbs-up" class="p-button-outlined p-button-rounded story-like"></button>
    <button *ngIf="isLiked" pButton (click)="thumbsDown()" icon="pi pi-thumbs-up-fill" class="p-button-outlined p-button-rounded story-like"></button>
</div>
