<div class="story-box">
    <p-card>
        <ng-template pTemplate="header">
                <h2>{{Story.publisherName}}</h2>
                <h3>{{Story.publishedTime}}</h3>
        </ng-template>
        <div *ngIf="story.content">
            <article *ngIf="Story.if_likelist_story">
                {{Story.text | postbox}}
            </article>   
            <article *ngIf="!Story.if_likelist_story">
                {{Story.text}}
            </article>
            <div class="img-video-box">
                <img class="story-img" [src]="Story.image" alt="Image not available">
                <video [src]="Story.video" loop>
                    Your browser does not support the video tag.
                </video> 
            </div>
        </div>
        

    </p-card>
    <button pButton icon="pi pi-thumbs-up" class="p-button-outlined p-button-rounded story-like" (click)="like_story()"></button>
</div>
