<div class="container">
  <form [formGroup]="userRegister" class="userinfo">
    <div class="antrashare-logo">
      <img src="../../../assets/antra_logo.png" id="antrashare-logo" alt="login-image">
      <h3>AntraShare</h3>
    </div>

    <h4>Register</h4>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput id="userName" name="userName" placeholder="Enter your username" formControlName="userName">
      <mat-error *ngIf="usernameControl.errors?.['registered']">Username already been used</mat-error>
    </mat-form-field>
    <!-- (keyup)="CheckUsername()" -->

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput id="userEmail" name="userEmail" placeholder="Enter your email" formControlName="userEmail">
      <mat-error *ngIf="useremailControl.errors?.['registered']">Email already been registered</mat-error>
    </mat-form-field>
    <!-- (keyup)="CheckEmail()" -->

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" name="password" #pswd placeholder="Enter your password"
        formControlName="password">
      <mat-error *ngIf="passwordControl.errors?.['pattern']">Password does not meet requirements.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" id="confirm-password" name="confirm-password" #pswd_confirm
        placeholder="Confirm your password" formControlName="confirmPassword">
      <mat-error *ngIf="userRegister.errors?.['notMatched']">Password confirm should be the same as password</mat-error>
    </mat-form-field>

    <mat-checkbox color="primary" id="agreement" class="checkbox" (change)="onAgreementChecked($event)">
      Agreement
    </mat-checkbox>

    <button type="submit" mat-flat-button color="primary" id="register-btn" [disabled]="userRegister.invalid"
      (click)="submitRegisterInfo()">Register
    </button>
  </form>
</div>