@import "../../../share/scss-variables/_config.scss";

.error{
  color:red;
}
.agreement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
  color: $theme-color;
}
.antra-logo {
  @extend %flex-property;
  height: 15%;
  margin: 2%;
  text-align: center;
  background-image: url("/assets/antra.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.example-button-row {
  @extend %flex-property;
}
.example-form {
  @extend %flex-property;
  min-width: 15%;
  max-width: 90%;
  margin: 2% 5%;
}

.example-full-width {
  width: 100%;
}
.main-container {
  @extend %flex-property;
  height: 90%;
}
.register-btn {
  width: 90%;
  background-color: $theme-color;
  color: white;
}
.root-register {
  @extend %border-property;
  width: 30%;
  min-height: 100%;
  overflow: scroll;
  margin-top: 2%
}

.need-help {
  @extend %border-property;
  text-align: center;
  position: absolute;
  background-color: aliceblue;
  // width: 30%;
  // height: 80%;
  // visibility: hidden;

  .chat-box-header {
    background-color: $theme-color;
    color: white;
    height: 6vh;
  }
  .chat-box.body {
    @extend %flex-property;
  }
  span {
    float: right;
    margin-right: 1rem;
    :hover {
      background-color: darken($theme-color, 10%);
    }
  }
  button {
    width: 90%;
    background-color: $theme-color;
    color: white;
    margin: 5%;
  }
}
