<header class="main-container">
  <div class="root-register">
    <div class="antra-logo">
      <!-- <img src="./assets/Antra_Share.jpg" alt="antrashare-logo" /> -->
    </div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter Your Email" required />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput value="" placeholder="user name" required />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="password" required />
        <mat-icon matSuffix>visibility</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          type="password"
          matInput
          placeholder="confirm password"
          required
        />
        <mat-icon matSuffix>visibility</mat-icon>
      </mat-form-field>
    </form>

    <div class="example-button-row">
      <button
        mat-button
        class="register-btn"
        color="Primary"
        type="button"
        (click)="logOut()"
      >
        Register
      </button>
    </div>
  </div>
</header>
