.example-button-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.example-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15%;
  max-width: 90%;
  margin: 5%;
  margin-top: 15%;
}

.example-full-width {
  width: 100%;
}

.register-btn {
  width: 90%;
  background-color: rgb(135, 8, 161);
  color: white;
  margin: 5%;
}
.root-register {
  display: none;
  margin: 0 auto;
  border: 1px solid purple;
  width: 40%;
  height: 60%;
}
