@import "./src/app/share/scss-variables/_config.scss";

.antra-logo {
  @extend %flex-property;
  height: 35%;
  margin: 5%;
  text-align: center;
  background-image: url("/assets/antra.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.example-button-row {
  @extend %flex-property;
}
.example-form {
  @extend %flex-property;
  min-width: 15%;
  max-width: 90%;
  margin: 5%;
}

.example-full-width {
  width: 100%;
}
.main-container {
  @extend %flex-property;
  height: 90%;
}
.register-btn {
  width: 90%;
  background-color: $theme-color;
  color: white;
}
.root-register {
  @extend %border-property;
  width: 30%;
  min-height: 90%;
}
