@import "../../../../share/scss-variables/_config.scss";

.like-list {
    padding: 0.5rem 1rem;
    position: absolute;
    float: right;
    top: 5vh;
    right: 5vw;
    background-color: $theme-color;
}

.like-list-toggled {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $bgColor;
    width: 20%;
    height: 70vh;
    right: 1rem;
    top: -20px;
    border-radius: 2%;

    >* {
        padding: 0.5rem 1rem;
    }

    animation: fadeInOut 0.1s forwards;

    .head {
        display: flex;

        .head-content {
            flex: 1;
        }
    }

    .main {
        height: 50%;
        background-color: rgb(185, 177, 177);
    }

    .foot {
        text-align: center;
    }

    .mat-raised-button {
        padding: 0;
    }
}

.hidden {
    display: none;
}

@media only screen and (max-width: 666px) {


        .like-list {
            padding: 0.5rem 1rem;
            position: static;
            // position: sticky;
            // float: ;
            // margin-right: 0;
            // margin-bottom: 1rem;
            // top: 0;
            margin: auto;
        }

        .like-list-toggled {
            margin: auto;
            position: static;
            width: 90vw;
            text-overflow: ellipsis;
        }
    
}