<div class="like-list-toggled" [ngClass]="{ hidden: hideForm }">
  <div class="head">
    <div class="head-content">
      <p class="published">PublisherName PublishedTime</p>
      <p class="content">(custom pipe, limited length)</p>
    </div>
    <button mat-icon-button color="warn" class="close-like-list" (click)="toggleLikeList()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="foot">
    <mat-card *ngFor="let item of likeListArray">
      <mat-card-title>{{ item.publisherName }}</mat-card-title>
      <mat-card-content>{{ item.content?.text | truncate}}</mat-card-content>
    </mat-card>
  </div>
</div>
<button class="like-list" [ngClass]="{ hidden: !hideForm }" (click)="toggleLikeList()" mat-raised-button color="accent">
  Like List
</button>