<div class="setting">
    <mat-card class="setting-card">
        <mat-card-title>Setting Panel</mat-card-title>
        <mat-card-actions class="card-content">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Profile">
                    <div>
                        <mat-form-field appearance="legacy">
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="Enter your user name">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                    </div>
                </mat-tab>
                <mat-tab label="Password & Email">
                    <div>
                        <mat-form-field appearance="legacy">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter your Email">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="legacy">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Enter your password">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-actions>
        <button mat-button color="primary" class="save-btn">Save</button>
    </mat-card>
</div>
<button (click)="logOut()" class="logout-button">Logout</button>
