<main class="main">
  <div class="like-list-toggled" [ngClass]="{ hidden: hideForm }">
    <div class="head">
      <div class="head-content">
        <p class="published">PublisherName PublishedTime</p>
        <p class="content">(custom pipe, limited length)</p>
      </div>
      <button
        mat-icon-button
        color="warn"
        class="close-like-list"
        (click)="toggleLikeList()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="main"></div>
    <div class="foot">
      <h1>Liked Story List</h1>
      <p>PublisherName/PublishedTime</p>
      <p>story content preview (custom pipe length limitation)</p>
    </div>
    <app-likelist></app-likelist>
  </div>
  <button
    class="like-list"
    [ngClass]="{ hidden: !hideForm }"
    (click)="toggleLikeList()"
    mat-raised-button
    color="accent"
  >
    Like List
  </button>
  <div class="post-newfeed-form">
    <h1>Post Your Newsfeed Below</h1>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput placeholder="title" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Content</mat-label>
      <textarea matInput placeholder="content..."></textarea>
    </mat-form-field>
    <button mat-button focusable="false" (click)="(0)">Submit</button>
  </div>
  <div class="newsfeed" *ngFor="let n of news; let i = index">
    <a [routerLink]="['/newsfeed', n._id]">
      <mat-card [id]="n.id" class="on-hover">
        <mat-card-title>{{ n.content?.text | truncate}}</mat-card-title>
        <mat-card-content>
          <img [src]="n.content?.image" alt="" srcset="">
        </mat-card-content>
      </mat-card>
    </a>
    <button (click)="addToLikeList(n)"mat-icon-button color="primary" class="like-btn">
      <mat-icon>thumb_up_alt</mat-icon>
    </button>
  </div>
</main>

<!-- Bhim's welcome assignment -->
<div class="Welcome" *ngIf="isWelcomeMessage" >
  <div class="welcome-newsfeed" appWelcome>
    <div class="welcome-text">Welcome</div>
    <div class="welcome-text">
      <span>To Antra Share</span>
    </div>
  </div>
</div>