<main class="main">
  <app-like-list></app-like-list>
  <div class="post-newfeed-form">
    <h1>Post Your Newsfeed Below</h1>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput placeholder="title" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Content</mat-label>
      <textarea matInput placeholder="content..."></textarea>
    </mat-form-field>
    <button mat-button focusable="false" (click)="(0)">Submit</button>
  </div>
  <div class="newsfeed" *ngFor="let n of news; let i = index">
    <a [routerLink]="['/newsfeed', n._id]">
      <mat-card [id]="n.id" class="on-hover">
        <mat-card-title>{{ n.content?.text | truncate}}</mat-card-title>
        <mat-card-content>
          <img [src]="n.content?.image" alt="" srcset="">
        </mat-card-content>
      </mat-card>
    </a>
    <button mat-icon-button color="primary" class="like-btn" (click)="onThumbUpBtn(n)">
      <mat-icon>thumb_up_alt</mat-icon>
    </button>
  </div>
</main>

<!-- Bhim's welcome assignment -->
<div class="Welcome" *ngIf="isWelcomeMessage" >
  <div class="welcome-newsfeed" appWelcome>
    <div class="welcome-text">Welcome</div>
    <div class="welcome-text">
      <span>To Antra Share</span>
    </div>
  </div>
</div>