<main class="main">
  <app-like-list></app-like-list>
  <div class="post-newfeed-form">
    <h1>Post Your Newsfeed Below</h1>
    <form class="form" [formGroup]="newsfeedForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Image Url</mat-label>
        <input matInput placeholder="url" type="url" formControlName="imgUrl" [class.invalid]="onError('imgUrl')" />
      </mat-form-field>
      <span *ngIf="onError('imgUrl')" class="error">
        Must provide an image Url!
      </span>
      <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput placeholder="content..." formControlName="content"
          [class.invalid]="onError('content')"></textarea>
      </mat-form-field>
      <span *ngIf="onError('content')" class="error">
        Must provide content!
      </span>
      <button mat-button type="submit">Submit</button>
    </form>
  </div>
  <div class="newsfeed" *ngFor="let n of news; let i = index">
    <a [routerLink]="['/newsfeed', n._id]">
      <mat-card [id]="n._id" class="on-hover">
        <mat-card-title>{{ n.content?.text || "" | truncate}}</mat-card-title>

        <mat-card-content>
          <img [src]="n.content?.image" alt="" srcset="">
        </mat-card-content>
      </mat-card>
    </a>
    <button mat-icon-button color="primary" class="like-btn" (click)="onThumbUpBtn(n,likeBtn)" #likeBtn>
      <mat-icon>thumb_up_alt</mat-icon>
    </button>
  </div>
</main>

<!-- Bhim's welcome assignment -->
<div class="Welcome" *ngIf="isWelcomeMessage">
  <div class="welcome-newsfeed" appWelcome>
    <div class="welcome-text">Welcome</div>
    <div class="welcome-text">
      <span>To Antra Share</span>
    </div>
  </div>
</div>

<!-- Alex's idle dialog -->
<div class="idleDialog" *ngIf="isIdling">
  <h1 mat-dialog-title>Are you still here</h1>
  <div mat-dialog-content>
    Would you like stay in log in?
  </div>
  <div mat-dialog-actions>
    <button (click)="onDialogCancelBtn()" mat-button mat-dialog-close>Cancel</button>
    <button (click)="onDialogConfirmBtn()" mat-button mat-dialog-close cdkFocusInitial>Confirm</button>
  </div>
</div>