@import './src/app/share/scss-variables/_config.scss';
.main{
    // min-height: 90vh;
    position: relative;
    padding: 1rem 35%;
}
.post-newfeed-form{
    display: flex;
    flex-direction: column;
    button{
        background-color: #4CAF50;
        color: white;
        height: 15%;
    }
}
.mat-form-field{
    width:100%;
}
.newsfeed{
    margin-top: 1rem;
}
.like-list{
    padding: 0.5rem 1rem;
    position: sticky;
    float: right;
    margin-right: -90%;
    top: 5%;
}
a{
    text-decoration: none;
}
.newsfeed{
    position:relative;
    &:hover{
        background-color: rgb(185, 177, 177);
    }
    .like-btn{
        position: absolute;
        bottom:0;
        right:0;
    }
}
.like-list-toggled{
    position:absolute;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: $bgColor;
    width: 20%;
    height: 70vh;
    right:1rem;
    top:-20px;
    border-radius: 2%;
    > *{
        padding: 0.5rem 1rem;
    }
    animation: fadeInOut .1s forwards;
    .head{
        display: flex;
        .head-content{
            flex:1;
        }
    }
    .main{
        height: 50%;
        background-color: rgb(185, 177, 177);;
    }
    .foot{
        text-align: center;
    }
    .mat-raised-button{
        padding: 0;
    }
}
.hidden{
    display: none;
}
@keyframes fadeInOut {
    0% { opacity: 0;
        top:-20px;
     }
    // 50%{ 
    //     top:-10px;
    // }
    100% { 
        opacity: 1;
        top:0;
        display: none; 
    }
  }
  @media only screen and (max-width: 666px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .like-list{
            padding: 0.5rem 1rem;
            position: sticky;
            // float: ;
            margin-right: 0;
            margin-bottom: 1rem;
            top: 0;
        }
        .like-list-toggled{
            position:static;
            width: 100vw;
            text-overflow: ellipsis;
        }
    }
  }