<app-likelist></app-likelist>
<mat-card class="welcome-massage" appWelcome>
    <!-- [ngStyle]="{'text-align': 'center'}" -->
    <mat-card-header>
        <!-- <mat-card-title class="welcome-massage">Welcome Back</mat-card-title> -->
        <!--    <mat-card-subtitle>News Feed Page</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>
        <mat-card-title>Welcome Back</mat-card-title>
        <p>Check out the new stories you missed while you were gone!</p>
        <!-- <p>{{longText}}</p> -->
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
<app-storylist></app-storylist>
<!-- <div>
    <ul>
        <li *ngFor="let item of newsfeedData" class="story-entry">
            <h1>{{ item.publisherName }}</h1>

            <div *ngIf="item.content">
                <img src="{{ item.content.image }}" alt="{{ item.content.text }}">
                <p>{{ item.content.text }}</p>
            </div>
            <p>{{ item.publishedTime }}</p>

            <div class="like-icon">
                <button mat-icon-button (click)="likeStory(item)">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>
        </li>
    </ul>
</div> -->
<app-nav-bar></app-nav-bar>