// @import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-list-item {
    font-size: 30px;
}

.user-container {
    width: 20%;
    background-color: beige;
    position: relative;
}

.main-container{
    height: 100%;
    display: flex;
}

.top-container {
    width: 100%;
    background-color: aquamarine;
    height: 50px;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 9;
    // vertical-align: middle;
}

.user-detail{
    margin-left: 30px;
    margin-top: 30px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.add-user {
    position: fixed;
    width: 20%;
    height: 30px;
    bottom: 50px;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.delete-button {
    margin-left: 100px;
}

.admin-button {
    margin-top: 15px;
    margin-right: 15px;
}

.bot-navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.bot-button {
    width: 33.3%;
    height: 50px;
}