// @import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-list-item {
    font-size: 30px;
    position: relative;
}

.top-container {
    width: 100%;
    background-color: aquamarine;
    height: 50px;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 9;
    // vertical-align: middle;
}

.main-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.user-container {
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    background-color: beige;
    position: fixed;
}

.user-detail {
    margin-left: 28%;
    margin-top: 5vh;
    position: absolute;
    // overflow-y: scroll;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    z-index: 10;
}

.add-user {
    position: fixed;
    width: 25%;
    height: 6vh;
    bottom: 0;
}

.delete-button {
    margin-left: 75%;
    position: absolute;
}

.admin-button {
    margin-top: 1vh;
    margin-right: 2vh;
}

.vertical-table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.label {
    font-weight: bold;
    width: 100px;
}

.value {
    flex: 1;
}