// @import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-list-item {
    font-size: 30px;
}

.user-container {
    width: 25%;
    background-color: beige;
    position: relative;
}

.main-container{
    height: 100%;
    display: flex;
}

.top-container {
    width: 100%;
    background-color: aquamarine;
    height: 50px;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 9;
    // vertical-align: middle;
}

.user-detail{
    margin-left: 5vh;
    margin-top: 5vh;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.add-user {
    position: fixed;
    width: 25%;
    height: 6vh;
    bottom: 0;
}

.delete-button {
    margin-left: 18vh;
}

.admin-button {
    margin-top: 1vh;
    margin-right: 2vh;
}
