<p>register works!</p>
    <div id="register_frame">
        <p id="image_logo"><img src="../../../assets/images/AntraLogo.jpg" alt="AntraLogo"></p>

        <form [formGroup]="validateForm " (ngSubmit)="onSubmit()">
            <span class="p-float-label">
                <input  id="username_input" class="text_field"
                 type="text" formControlName="username" 
                  pInputText > 
                <label for="username_input">Username</label>
                <p *ngIf="(validateForm.get('username'))?.errors?.['usedUsername']" [ngClass]="'input_reminder'">
                    Username is already used. 
                </p>
            </span>
            <!-- <p>{{validateForm.get('userName')?errors?.required?'pls enter user name'}}</p> -->
            <span class="p-float-label">
                <input id="pwd_input" class="text_field" 
                type="text" formControlName="password" pInputText > 
                <label for="pwd_input">Password</label>
                <p *ngIf="(validateForm.get('password'))?.errors?.['formatError']" [ngClass]="'input_reminder'">
                    Password must contain 1 uppercase letter, 1 lowercase letter and 1 special character.
                </p>
            </span>

            <span class="p-float-label">
                <input id="pwd_confirm_input" class="text_field"
                 type="text" formControlName="password_confirm" pInputText> 
                <label for="pwd_confirm_input">Comfirm Password</label>
                <p *ngIf="(validateForm.get('password_confirm'))?.errors?.['confirmPasswordError']" [ngClass]="'input_reminder'">
                    Password confirm should be the same as password.
                </p>
            </span>

            <span class="p-float-label">
                <input id="email_input" class="text_field"
                 type="text" formControlName="email" pInputText > 
                <label for="email_input">Email</label>
                <p *ngIf="(validateForm.get('email'))?.errors?.['usedEmail']" class="input_reminder">
                    Email is already used. 
                </p>
            </span>

            <span class="p-float-label">
                <input id="age_input" class="text_field"
                 type="text" formControlName="age" pInputText > 
                <label for="age_input">Age</label>
            </span>

            <span class="p-float-label">
                <input id="gender_input" class="text_field"
                 type="text" formControlName="gender" pInputText > 
                <label for="gender_input">Gender</label>
            </span>

            <span class="p-float-label">
                <input id="phone_input" class="text_field"
                 type="text" formControlName="phone" pInputText > 
                <label for="phone_input">Phone Number</label>
            </span>
            
            
            <div id="register_control">
                <p-toast></p-toast>
                <button id="btn_register" pButton type="submit" label="register" ></button>
                <a id="back_login" (click)="goToLogin()">Already have an account? Login</a>
            </div>

            
        </form>
    </div>