<p-messages severity="info" appWelcome>
    <ng-template pTemplate>
        <div class="ml-2">Welcome!</div>
    </ng-template>
</p-messages>

<div class="post-box">
    <div class="p-fluid">
            <p-editor  [formControl]="inputbox" [style]="{ height: '320px' }"></p-editor>
    </div>
    
    
    <span>
        <button pButton label="Post" icon="pi pi-send" class="p-button-outlined post-button" (click)="post_story()"></button>
    </span>
    
</div>

<div *ngFor="let story of news_feed_data">
    <app-story [story]="story"></app-story>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<!-- <div class="story-box">
    <p-card>
        <ng-template pTemplate="header">
            Story1
        </ng-template>
        Good Story, wow!
    </p-card>
    <button pButton label="like" icon="pi pi-thumbs-up" class="p-button-outlined p-button-rounded story-like"></button>
</div>

<div class="story-box">
    <p-card>
        <ng-template pTemplate="header">
            Story2
        </ng-template>
        Good Story, wow!
    </p-card>
    <button pButton label="like" icon="pi pi-thumbs-up" class="p-button-outlined p-button-rounded story-like"></button>
</div> -->