.flex_container
    padding: 50px
    display:flex
    align-items:center
    justify-content:space-evenly



.bottom
    position: fixed
    bottom: 0
    width: 100%
    z-index: 100
    background-color: white

.card-container
    position: relative

.like_button
    position: absolute
    bottom:0
    right:0
