<h1 appWelcomeMessage></h1>
<p-tabMenu [model]="items"></p-tabMenu>

<div>
    <textarea pInputTextarea></textarea>
    <button pButton type="button" label="Post"></button>
</div>

<div class="card-container">
    <div>
        <p-card>
            Story1
        </p-card>
    </div>
    
    <button pButton type="button" label="Like" class="like_button"></button>
</div>

<div class="card-container">
    <div>
        <p-card>
            Story2
        </p-card>
    </div>
    
    <button pButton type="button" label="Like" class="like_button"></button>
</div>

<div class="card-container">
    <div>
        <p-card>
            Story3
        </p-card>
    </div>
    
    <button pButton type="button" label="Like" class="like_button"></button>
</div>

<div class="card-container">
    <div>
        <p-card>
            Story4
        </p-card>
    </div>
    
    <button pButton type="button" label="Like" class="like_button"></button>
</div>

<div class="card-container">
    <div>
        <p-card>
            Story5
        </p-card>
    </div>
    
    <button pButton type="button" label="Like" class="like_button"></button>
</div>

<div class="card-container">
    <div>
        <p-card>
            Story6
        </p-card>
    </div>
    
    <button pButton type="button" label="Like" class="like_button"></button>
</div>

<div class="card-container">
    <div>
        <p-card>
            Story7
        </p-card>
    </div>
    
    <button pButton type="button" label="Like" class="like_button"></button>
</div>

<div class="card-container">
    <div>
        <p-card>
            Story8
        </p-card>
    </div>
    
    <button pButton type="button" label="Like" class="like_button"></button>
</div>

<div class="card-container">
    <div>
        <p-card>
            Story9
        </p-card>
    </div>
    
    <button pButton type="button" label="Like" class="like_button"></button>
</div>



<div class="bottom">
    <p-tabMenu [model]="bottoms"></p-tabMenu>
</div>
