@import 'src/app/share/scss-variables/_config.scss';
.content-main{
    width: 35%;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 3%;
    border: 1px solid $theme-color;
    // background-color: $theme-color;
    // background-color: #c9f5c5;
}
.content-header{
    display: flex;
    justify-content: left;
    align-items: center;
    .content-author,
    .content-published-time{
        text-align: center;
        min-width: 100px;
        padding: 1.5rem 1rem;
        background-color: $bgColor;
    }
    .content-author{
        margin-left: 5%;
    }
}
.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    // background-color: $bgColor;
    background-image: url("/assets/antra.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.content-body{
    display: flex;
    min-height: 300px;
    margin-top: 1rem;
    background-color: $bgColor;

    .video-img{
        width: 30%;
    }
    .content{
        flex:1;
        font-size: large;
        padding: 1rem;
    }
}
.content-footer{
    background-color: $bgColor;
    padding: 1rem;
    height: 200px;
    display: flex;
    > *{
        flex:1;
        border: 1px solid black;
        border-collapse: collapse;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .comment-icon,
    .like-icon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid black;
    }
    .comments,
    .divider{
        border-right: none;
    }
}
@media only screen and (max-width: 666px){
    .content-footer,.content-header,.content-body{
        flex-direction: column;
        justify-content: center;
        .content-author{
            margin-left:0;
        }
        .comments,
        .likes{
            border-bottom: none;
            border-right: 1px solid black;
            flex-direction: column;
        }
        .likes{
            border-bottom: 1px solid black;
        }
        .divider{display: none;}
        .comment-icon,
        .like-icon{
            width: 25px;
            height: 25px;
        }
    }

}