<main class="content-main">
    <div class="content-header">
        <div class="logo"></div>
        <div class="content-author">Dan Nguyen</div>
        <div class="content-published-time">3/19/2023</div>
    </div>
    <div class="content-body">
        <div class="video-img">
            <img src="img.png" alt="video-img" srcset="">
        </div>
        <div class="content">
            content
        </div>
    </div>
    <div class="content-footer">
        <div class="comments">
            <div class="comment-icon">icon</div>
            <span class="no-of-comment">20 comments</span>
        </div>
        <div class="divider"></div>
        <div class="likes">
            <div class="like-icon">icon</div>
            <span class="no-of-likes">100likes</span>
        </div>
    </div>
</main>