<main class="content-main" [ngClass]="blur">
    <div class="content-header">
        <div class="logo"></div>
        <div class="content-author"><span>Author: {{story.publisherName}}</span></div>
        <div class="content-published-time">published: {{story.publishedTime | date: 'short'}}</div>
    </div>
    <div class="content-body">
        <div class="video-container">
            <iframe *ngIf="false; else image" [src]="story.content.video" frameborder="0" allowfullscreen></iframe>
            <ng-template #image>
                <img [src]="story.content.image" alt="image">
            </ng-template>
        </div>
        <div class="content">
            <p>{{story.content.text}}</p>
        </div>
    </div>
    <div class="content-footer">
        <button mat-raised-button color="primary" (click)="toggleCommentWindow()">All Comments({{story.comment.length}})</button>
        <button mat-raised-button color="primary" (click)="toggleLikeWindow()">All Likes({{story.likedIdList.length}})</button>
    </div>
</main>
<div class="popup-window" *ngIf="showComment">
    <button class="close-popup-btn" mat-icon-button color="warn" (click)="toggleCommentWindow()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-card *ngFor="let comment of story.comment">
        <mat-card-title>{{comment.publisherName}}</mat-card-title>
        <mat-card-content>{{comment.publishedTime | date: 'short'}}</mat-card-content>
        <mat-card-content>{{comment.content.text}}</mat-card-content>
    </mat-card>
</div>
<div class="popup-window" *ngIf="showLike">
    <button class="close-popup-btn" mat-icon-button color="warn" (click)="toggleLikeWindow()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-card *ngFor="let like of likeList">
        <mat-card-title>{{like.name || 'unknown'}}</mat-card-title>
        <!-- <mat-card-content>{{like.publishedTime | date: 'short'}}</mat-card-content> -->
        <!-- <mat-card-content>{{like.content.text}}</mat-card-content> -->
    </mat-card>
</div>